.dropdown-container {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    margin: 100px 160px 0;
    align-items: flex-end;
    font-size: 20px;
}

.dropdown {
    padding: 5px;
    background-color: #fff;
    border: 3px solid #ef5f63;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 900;
    height: 40px;
    width: 200px;
}
