.main-content {
    padding-top: 80px;
    &__title {
        text-align: start;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 54px;
        width: 30%;
        text-transform: uppercase;
        font-weight: 900;
        > p {
            font-size: 24px;
        }
        > .btn {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            > button {
                background-color: #fff;
                border-radius: 20px;
                border: 3px solid #ef5f63;
                color: #ef5f63;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 18px;
                font-weight: 900;
                height: 40px;
                width: 150px;
            }
        }
    }
}

.img {
    margin-left: 200px;
    margin-top: -100px;
    width: 40%;
}
